body {
    font-family: Arial, sans-serif;
    background-color:rgb(34, 34, 34);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-container {
    background-color: #333;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}
h1 {
    text-align: center;
    color: white;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}
input[type="text"], input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="submit"] {
    padding: 10px;
    background-color: rgb(132,14,201);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
.links {
    text-align: center;
    margin-top: 20px;
}
.links a {
    color: #c63fe7;
    text-decoration: none;
    margin: 0 10px;
}
.links a:hover {
    text-decoration: underline;
}